<div class="container">
  <h2>{{ character.name }}</h2>
  <div class="details">
    <div class="info column">
      <p>Birth year: {{ character.birth_year }}</p>
      <p>Gender: {{ character.gender }}</p>
      <p>Height: {{ character.height }}</p>
      <p>Mass: {{ character.mass }}</p>
    </div>
    <div class="colors column">
      <p>Hair color: {{ character.hair_color }}</p>
      <p>Eye color: {{ character.eye_color }}</p>
      <p>Skin color: {{ character.skin_color }}</p>
    </div>
  </div>
  <p>Created: {{ character.created }}</p>
</div>
