@media (max-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }

  .header-title {
    padding: 1em 1.5em;
  }

  .header-title h1 {
    font-size: 2.1em;
  }

  .header-title p {
    font-size: 1.1em;
  }

  .choose-us ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

  .choose-us ul li {
    width: 60%;
}

.about-us {
    width: 75%;
}
.team-description-wrapper {
    width: 55%;
}
.team-description-wrapper ul{

    gap: 3em;
}
  .team-description-wrapper li {
    flex: 1 1 48%;
  }

  .team-description-wrapper ul li img {
    width: 100%;
    height: auto;
  }

  .team-description-wrapper ul li p{
    font-size: 0.9em;
  }
}
