<section class="search">
    <h1>Search</h1>

    <form class="search-form" action="/search" method="post">
        <input type="text" class="search-name" name="name" placeholder="Search Name..." value="{{body.name}}">
        <input type="text" class="search-type" name="type" placeholder="Search Type..." value="{{body.type}}">
        <button type="submit" class="btn-search">Search</button>
    </form>

    <!--If there are matches after search-->
    {{#if electronics}}
    <div class="search-result">
        <div class="search-list">
            {{#each electronics}}
            <!-- Looks exactly the same as the catalog card!!-->
            {{> catalogCard}}
            {{/each}}
        </div>
        {{else}}
        <div class="no-match">
            <p>No match was found!</p>
        </div>
        {{/if}}
    </div>
    <!--If there are no matches-->
</section>