<div class="add-todo">
    <input type="text">
    <a href="">Add</a>
</div>
<div class="todo-list">
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, maiores.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, maiores.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, maiores.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, maiores.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, maiores.</li>
    </ul>
</div>