<div class="add-todo">
    <input type="text" placeholder="New todo...">
    <a href="">Add</a>
</div>
<div class="todo-list">
    <table>
        <tbody>

            <tr>
                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, dolore!</td>
                <td><a href="">Complete</a></td>
                <td><a href="">Delete</a></td>
            </tr>
            <tr>
                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, dolore!</td>
                <td><a href="">Complete</a></td>
                <td><a href="">Delete</a></td>
            </tr>
            <tr>
                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, dolore!</td>
                <td><a href="">Complete</a></td>
                <td><a href="">Delete</a></td>
            </tr>
            <tr>
                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, dolore!</td>
                <td><a href="">Complete</a></td>
                <td><a href="">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>