.header{
    padding: 20px;
    background-color: #FAEF9B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222;
}

.logo{
    font-size: 2em;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a{
    text-decoration: none;
    color: #222;
    padding: 5px 10px;
    border: 1px solid #555;
    transition: all 0.2s ease-in;
}

a:hover{
    background-color: #999;
}