@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Great+Vibes';

body {
    max-width: 800pt;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2 {
    font-family: 'Great Vibes', cursive;
    line-height: 1.2;
    font-weight: bold;
}
ul{
    list-style-type: disc;
}

ul ul ul{
    list-style-type: circle;
}