header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.softuni-logo {
    display: none;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.main-nav a {
    text-decoration: none;
    color: #000;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #54546D;
    margin-bottom: 110px;
}

.banner .container>h2 {
    margin-top: 40px;
    font-weight: 100;
    color: #fff;
}

.calc-icon {
    position: absolute;
    left: max(-5%, -35px);
    top: 70px;
    width: 120px;
    height: auto;
}

.banner .container>h2 {
    text-align: center;
}

.cards-wrapper {
    position: relative;
    top: 60px;
}

.courses-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.financing p {
    margin: 20px auto;
}

.financing h3 {
    margin-top: 30px;
    font-weight: normal;
}

.financing .media {
    display: inline;
    float: right;
}

.financing-info {
    width: 70%;
    float: left;
}

.financing::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    padding: 10px;
    color: #908FAB;
    background-color: #54546D;
    display: block;
    margin-top: 20px;
    text-align: center;
}