nav{
    background: #eee;
    padding: 2em;
}

ul{
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style: none;
}

a{
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    border: 1px solid #555;
    background-color: #ddd;
}