.work {
    background-color: #85DCFF;
    padding: 2rem 0;    
}

.work .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.work h2{
    text-align: center;
}

.work-columns{
    display: flex;
    width: 70%;
    align-items: center;
}

.work-columns ul{
    flex: 0 0 50%;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}

.work-columns i{
    margin-right: 0.8rem;
}

.mission-button {
    display: inline-block;
    padding: 0.8em 4em;
    margin: 0 auto;
    background-color: #000;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}