<h2>Create game</h2>
<form action="/create" method="post">
    <label for="title">
        <span>Title</span><input type="text" name="title">
    </label>
    <label for="year">
        <span>Year</span><input type="number" name="year">
    </label>
    <label for="publisher">
        <span>Publisher</span><input type="text" name="publisher">
    </label>
    <input type="submit" value="Submit">
</form>