:host{
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header{
    display: block;
    max-width: 1300px;
    margin: auto;
    margin-top: 20px;
}

main{
    max-width: 800px;
    display: block;
    margin: auto;
    padding: 3em 2em;
    border-radius: 10px;
    background-color: #fff7;
}


