html{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen  and (min-width:700px){
    html{
        font-size: 14px;
    }
}

@media screen  and (min-width:900px){
    html{
        font-size: 16px;
    }
}

@media screen  and (min-width:1200px){
    html{
        font-size: 18px;
    }
}