.main-content{
    background-color: #F8F0E9;
    padding: 4em 0;
}

.main-content .container{
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.main-content h2{
    text-align: center;
}

.main-content .read-more{
    align-self: flex-start;
}

.main-content p{
    color: #352B2A;
    padding: 2em 0;
}

.main-content a{
    font-size: 16px;
    padding: 0.5em 1em;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    background-color: #fff;
}

