@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');

html{
    font: 18px 'Karla'; 
}

h1,h2{
    font-family: 'Cormorant Infant';
}

h1{
    font-size: 90px;
}

h2{
    font-size: 61px;
}