@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway';
}

body {
    background: rgb(255, 253, 140);
    background: linear-gradient(90deg, rgba(255, 253, 140, 1) 0%, rgba(130, 234, 255, 1) 100%);
}