@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 14px 'Inter';
    color: #595959;
}

body {
    background-color: #D9D9D9;
}

.container {
    padding: 3em;
    display: flex;
    justify-content: space-between;
}

article {
    flex: 0 0 30%;
    box-shadow: 2px 2px 5px #bbb;
}

h2 {
    font-weight: normal;
    margin: 1em 0;
    color: #000;
}

.content>p {
    margin: 2em 0;
}

.media {
    width: 100%;
}

img {
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.content {
    padding: 1em;
}

.author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #888;
    padding-top: 1em;
}

.author-media {
    width: 70%;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 0.4em
}

img.profile {
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    height: auto;
    aspect-ratio: 1/1;
}

.author-media p{
    color: #000;
}

.author-media span{
    color: #9999AA;
}

@media (max-width: 1100px){
    article{
        flex: 0 0 32%;
    }
}

@media (max-width: 900px){
    .container{
        flex-direction: column;
        gap: 3em;
        padding: 3em 10em;
    }
    
}

@media (max-width: 800px){
    .container{
        padding: 6em;
    }
}

@media (max-width: 650px){
    .container{
        padding: 3em;
    }
}