.characters-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    align-self: center;
}

.characterCard {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: wheat;
    margin: 5px;
    border-radius: 10px;
    width: 24%;
    height: 30vh;

}