<div class="container">
  <div class="profile">
    <img src="assets/images/profile.png" alt="default user" />
    <h3>User Info:</h3>

    <!--Non-editing-->
    <ng-container *ngIf="!isEditing">
      <div class="flex">
        <p>Username:</p>
        <p>{{ user.username }}</p>
      </div>
      <div class="flex">
        <p>Email:</p>
        <p>{{ user.email }}</p>
      </div>
      <div class="flex">
        <p>Phone:</p>
        <p>+359{{ user.tel.slice(4) }}</p>
      </div>
      <button class="edit-button" (click)="toggleEditing()">Edit</button>
    </ng-container>

    <!--When editing-->
    <ng-container *ngIf="isEditing">
      <form #form="ngForm">
        <div class="flex">
          <p>Username:</p>
          <input
            type="text"
            name="username"
            id="username"
            required
            minlength="5"
            [(ngModel)]="editData.username"
          />
        </div>
        <div class="flex">
          <p>Email:</p>
          <input
            type="email"
            name="email"
            id="email"
            required
            [pattern]="emailPattern"
            [(ngModel)]="editData.email"
          />
        </div>
        <div class="flex">
          <p>Phone:</p>
          <div>
            <select name="telStart" id="select-tel" class="tel" [(ngModel)]="telCode">
              <option ngValue="+359" selected>+359</option>
            </select>
            <input
              type="number"
              name="tel"
              id="tel"
              required
              minlength="4"
              [(ngModel)]="editData.tel"
            />
          </div>
        </div>
        <button class="red-button" (click)="toggleEditing()">Cancel</button>
        <button
          class="green-button"
          [disabled]="form.invalid"
          (click)="submitEditHandler(form)"
        >
          Save
        </button>
      </form>
    </ng-container>
  </div>
</div>
