.planets-container{
    min-width: 200px;
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.planet-card{
    width: 90%;
    border: 1px solid #888;
    border-radius: 10px;
    min-height: 50px;
    padding: 20px;
}

h2{
    text-align: center;
}

p{
    font-size: 1.1em;
}