img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    background-color: #000;
    background-image: url(../image/fitness-main.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center -10em;
}

a,
li {
    display: block;
}

header {
    background-color: #D01919;
    color: #fff;
}

.header-container {
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

header span{
    display: none;
}

ul.icons {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 10px;
}

.features{
    background-color: #fff;
}


.coaches {
    background-color: #EFEFEF;
}

footer {
    background-color: #D01919;
}

.features,
.coaches {
    display: flex;
    flex-direction: column;
}

.section-content {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.features .section-content{
    padding: 2em 6em;
}

.features article,
.coaches article {
    flex: 0 0 26%;
    text-align: center;
}

.features img {
    width: 30%;
    margin: 0 auto;
}

h3 {
    text-align: center;
    margin: 10px 0;
    font-size: 1.4em;
}

h3::after {
    display: block;
    width: 25px;
    margin: 10px auto;
    content: '';
    border-bottom: 2px solid #D01919;
}

.coaches p{
    color: #999;
}

.coaches img{
    border-radius: 0.5em;
}

.features h4,
h5 {
    color: #D01919;
}

footer {
    text-align: center;
}