body {
    background: rgb(238, 238, 238);
}
.card {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    width: 500px;
    height: 500px;
    margin: 40px auto;
    box-shadow: 0 0 20px #666 ;
}
div {
    height: 350px;
}
a {
    background: rgb(0, 153, 0);
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    float: right;
}

#info{
    padding: 0 30px;
    height: 200px;
}
h1 {
    font-family: Georgia, serif;
    font-size: 1em;  
}
img {
    position: absolute;
}