<h3>Reactive form</h3>
<form [formGroup]="registerForm" (ngSubmit)="submitHandler()">
  <div class="input-group">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" formControlName="name" />
    <div class="error" *ngIf="registerForm.get('name')?.touched">
      <p *ngIf="registerForm.get('name')?.errors?.['required']">This input is required</p>
      <p *ngIf="registerForm.get('name')?.errors?.['minlength']">Name must be atleast 3 characters long</p>
    </div>
  </div>
  <div class="input-group">
    <label for="email">Email:</label>
    <input
      type="text"
      name="email"
      id="email"
      formControlName="email"
      appEmailValidate
    />
    <div class="error" *ngIf="registerForm.get('email')?.touched">
        <p *ngIf="registerForm.get('email')?.errors?.['required']">This input is required</p>
        <p *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email</p>
      </div>
  </div>

  <button>Submit</button>
</form>
