/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient( 90deg, #e1e1e1,#f9f9f9, #e1e1e1);
    min-height: 100vh;
}